@inherits LayoutComponentBase

<main class="min-h-screen bg-slate-50 text-slate-900">
    @Body
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
